@model PrintCompanyModel

@{
    ViewData["Title"] = "Print Company";
}

<h2 >@(Model.PrintCompanyId == 0 ? "Add Print Company" : "Edit Print Company")</h2>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()

    <input type="hidden" asp-for="PrintCompanyId" />
    <input type="hidden" asp-for="CompanyLogo" />

    <div class="form-group mb-2">
        <label>Company Name</label>
        <input asp-for="CompanyName" class="form-control" />
        <span asp-validation-for="CompanyName" class="text-danger"></span>
    </div>

    <div class="form-group mb-2">
        <label>Company Address</label>
        <textarea asp-for="CompanyAddress" class="form-control"></textarea>
    </div>

    <div class="form-group mb-2">
        <label>Company Logo</label>
        <input asp-for="CompanyLogoFile" type="file" class="form-control" />

        @if (!string.IsNullOrEmpty(Model.CompanyLogo))
        {
            <div class="mt-2">
                <img src="~/uploads/@Model.CompanyLogo" width="100" />
            </div>
        }
    </div>

    <div class="form-group mb-3">
        <label>
            <input asp-for="IsActive" /> Is Active
        </label>
    </div>

    <button type="submit" class="btn btn-success">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Back</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
